*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #cccccc;
}
header {
    display: flex;
    justify-content: space-between ;
    border-radius: 6px;
    margin-top: 10px;
    height: 40px;
}
.search{
    width: 90%;
    margin:0px 10px;
    border: none;
    border-radius: 6px;
}
button{
    background: #4181CE;
    white-space: nowrap;
    width: 60px;
    margin-right:10px;
    border: none;
    border-radius: 6px;
    color: #ffffff;
}
ul{
    border:1px solid green;
    display: flex;
}
.block{
    border:1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;

}